@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketPortal.Components;
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;
@using System.Globalization;

@{
    var sessionParams = (SessionParams)Model.SessionParamsData;
    var articleDataList = (ArticleLimpetList)Model.GetDataObject("articlelist");
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcatalog");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var categoryList = (CategoryLimpetList)Model.GetDataObject("categorylist");
    var propertyList = (PropertyLimpetList)Model.GetDataObject("propertylist");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var appThemeDefault = (AppThemeLimpet)Model.GetDataObject("appthemedefault");
    var categoryData = (CategoryLimpet)Model.GetDataObject("categorydata");
    var appThemeMap = new AppThemeLimpet(portalCatalog.PortalId, "rocketcatalog.BusinessDirectoryMapView", "1.0", appTheme.Organisation);

    var hbsDict = new Dictionary<string, SimplisityInfo>();
    hbsDict.Add("sessionparams", sessionParams.Info);
    hbsDict.Add("resxlist", RenderRazorUtils.GetResxPaths(Processdata));
}

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")
@AddProcessData("resourcepath", appTheme.AppThemeVersionFolderRel + "/resx/")

@if (portalCatalog.DebugMode)
{<div class="w3-small">@DateTime.Now.ToString()</div>}


<div class="w3-row">
    @RenderTemplate("SearchBanner.cshtml", appTheme, Model, true)
</div>

<div class="w3-row">
    <div class="w3-half">
        @RenderTemplate("ArticleMap.cshtml", appThemeMap, Model, true)
    </div>
    <div class="w3-half">
        <div id="cataloglist">
            @foreach (ArticleLimpet articleData in articleDataList.GetArticleList())
            {
                hbsDict.Remove("data");
                hbsDict.Add("data", articleData.Info);
                @RenderHandleBarsRC(hbsDict, appTheme, "productlistrow.hbs", remoteModule.ModuleRef, "")
            }
            <div class="w3-row w3-padding-16 w3-center">
                @RenderTemplate("ProductPaging.cshtml", appThemeDefault, Model, true)
            </div>
        </div>
    </div>
</div>

