<div class="w3-row w3-padding ">
    <a href="{{genxml.sessionparams.r.pageurl}}?articleid={{genxml.data.genxml.column.itemid}}">
        <div class="w3-col m2" style="width: 80px;">
            <img class="" src="{{article this "imageurl" 0 360 360}}" alt="{{article this "imagealt" 0}}" style="width:72px;">
        </div>
        <div class="w3-col m10" style="overflow:hidden;">
            <h3>{{article this "name"}}</h3>
        </div>
    </a>
</div>


{{! displayData this}}

